In [46]:
import pandas as pd
import numpy as np

In [47]:
#import the data
df = pd.read_csv("Complaints_Data.csv", )

In [48]:
#Checking out the data
df.head()

,Ref,Region / Directorate,Sub Business Unit,Site,Reported,Subject (primary),Sub-subject (primary),Current Stage,Outcome code,Closed,Severity,Source of funding
0,CDTX47489,Area 3,South and Mid SW,P0097 - Longfield,3/31/2023,Finance / Billing,Incorrect Billing,Stage 1,NaN,NaN,Minor,NaN
1,1,Area 5,Central,P0121 - Flackwell Heath,1/12/2023,Finance / Billing,Incorrect Billing,Stage 1,Upheld,1/12/2023,Negligible,Bupa Smile Plan (BSP)
2,2,Area 8,Central,P0046 - Harleston,1/25/2023,Appointment / Admission,Other - Appointment / Admission,Stage 1,Not Upheld,1/17/2023,Negligible,Bupa Smile Plan (BSP)
3,3,Area 12,North and Scotland,P0076 - Withington,2/2/2023,Patient privacy / dignity / daily life,Personal choice / having a say,Stage 1,Partly Upheld,2/2/2023,Moderate,Bupa Smile Plan (BSP)
4,4,Area 24,North and Scotland,"P0428 - Blackpool, Station Road",3/17/2023,Finance / Billing,Other - Finance / Billing,Stage 1,Upheld,3/22/2023,Minor,Bupa Smile Plan (BSP)

In [49]:
df = df.drop(0)
df.tail()

,Ref,Region / Directorate,Sub Business Unit,Site,Reported,Subject (primary),Sub-subject (primary),Current Stage,Outcome code,Closed,Severity,Source of funding
937,937,Area 2,South and Mid SW,P0419 - Salisbury,3/31/2023,Finance / Billing,Other - Finance / Billing,Stage 1,NaN,NaN,Minor,Self-paid
938,938,Area 7,South and Mid SW,P0045 - Redditch,2/16/2023,Communication,Lack of communication (written or verbal),Stage 1,Partly Upheld,2/16/2023,Negligible,Self-paid
939,939,Area 12,North and Scotland,P0020 - Bingley,2/28/2023,Consent to treatment,Consent to treatment not given,Stage 1,NaN,NaN,Minor,Self-paid
940,940,Area 8,Central,P0444 - Peterborough Herlington,3/30/2023,Clinical care and treatment,Treatment didn't have expected outcome,Stage 1,NaN,NaN,Moderate,Self-paid
941,941,Area 4,Platinum and Ortho,P0286 - Wallington,2/27/2023,Finance / Billing,Discount Code Not Applied,Stage 1,NaN,3/3/2023,Minor,Bupa Policy / Bupa Member

In [51]:
df.tail()

,Ref,Region / Directorate,Sub Business Unit,Site,Reported,Subject (primary),Sub-subject (primary),Current Stage,Outcome code,Closed,Severity,Source of funding
937,937,Area 2,South and Mid SW,P0419 - Salisbury,3/31/2023,Finance / Billing,Other - Finance / Billing,Stage 1,NaN,NaN,Minor,Self-paid
938,938,Area 7,South and Mid SW,P0045 - Redditch,2/16/2023,Communication,Lack of communication (written or verbal),Stage 1,Partly Upheld,2/16/2023,Negligible,Self-paid
939,939,Area 12,North and Scotland,P0020 - Bingley,2/28/2023,Consent to treatment,Consent to treatment not given,Stage 1,NaN,NaN,Minor,Self-paid
940,940,Area 8,Central,P0444 - Peterborough Herlington,3/30/2023,Clinical care and treatment,Treatment didn't have expected outcome,Stage 1,NaN,NaN,Moderate,Self-paid
941,941,Area 4,Platinum and Ortho,P0286 - Wallington,2/27/2023,Finance / Billing,Discount Code Not Applied,Stage 1,NaN,3/3/2023,Minor,Bupa Policy / Bupa Member

In [50]:
# checking data types of the data
df.dtypes

Ref                      object
Region / Directorate     object
Sub Business Unit        object
Site                     object
Reported                 object
Subject (primary)        object
Sub-subject (primary)    object
Current Stage            object
Outcome code             object
Closed                   object
Severity                 object
Source of funding        object
dtype: object

In [52]:
#Checking unique values for the closed column
df["Closed"].unique()

array(['1/12/2023', '1/17/2023', '2/2/2023', '3/22/2023', '1/31/2023',
       '3/1/2023', '1/18/2023', nan, '1/27/2023', '3/16/2023', '3/9/2023',
       '3/14/2023', '3/29/2023', '1/4/2023', '1/5/2023', '1/13/2023',
       '1/9/2023', '1/19/2023', '2/1/2023', '3/3/2023', '2/18/2023',
       '2/23/2023', '3/15/2023', '3/17/2023', '1/6/2023', '2/7/2023',
       '1/11/2023', '1/20/2023', '1/23/2023', '1/30/2023', '1/26/2023',
       '3/30/2023', '2/14/2023', '2/17/2023', '2/20/2023', '3/2/2023',
       '3/27/2023', '3/6/2023', '4/3/2023', '3/10/2023', '3/13/2023',
       '3/20/2023', '3/21/2023', '3/23/2023', '3/28/2023', '3/31/2023',
       '2/24/2023', '1/24/2023', '2/15/2023', '2/8/2023', '2/12/2023',
       '1/16/2023', '1/10/2023', '2/6/2023', '2/13/2023', '2/16/2023',
       '2/21/2023', '1/25/2023', '3/7/2023', '2/27/2023', '2/9/2023',
       '2/10/2023', '3/8/2023', '3/24/2023', '2/3/2023', '2/28/2023',
       '2/22/2023', '2/8/2033', '12/8/2022', '2/11/2023', '1/3/2023',
       '1/14/2023'], dtype=object)

In [64]:
#Replace the null value with Open  because i felt that since it does not have a closing date, then it is still open  
df["Closed"].fillna("open", inplace= True)

In [93]:
#Change Reported Data type to Date
df["Reported"] = pd.to_datetime(df["Reported"])

In [94]:
# Group the Closed Column into open and Close
df["Open_or_Close"] = df["Closed"].apply(lambda x: "Open" if x == "open" else "Close")

In [95]:
df.head()

,Ref,Region / Directorate,Sub Business Unit,Site,Reported,Subject (primary),Sub-subject (primary),Current Stage,Outcome code,Closed,Severity,Source of funding,Open_or_Close
1,1,Area 5,Central,P0121 - Flackwell Heath,2023-01-12,Finance / Billing,Incorrect Billing,Stage 1,Upheld,1/12/2023,Negligible,Bupa Smile Plan (BSP),Close
2,2,Area 8,Central,P0046 - Harleston,2023-01-25,Appointment / Admission,Other - Appointment / Admission,Stage 1,Not Upheld,1/17/2023,Negligible,Bupa Smile Plan (BSP),Close
3,3,Area 12,North and Scotland,P0076 - Withington,2023-02-02,Patient privacy / dignity / daily life,Personal choice / having a say,Stage 1,Partly Upheld,2/2/2023,Moderate,Bupa Smile Plan (BSP),Close
4,4,Area 24,North and Scotland,"P0428 - Blackpool, Station Road",2023-03-17,Finance / Billing,Other - Finance / Billing,Stage 1,Upheld,3/22/2023,Minor,Bupa Smile Plan (BSP),Close
5,5,Area 16,North and Scotland,P0650 - South Queensferry,2023-01-13,Appointment / Admission,Other - Appointment / Admission,Stage 1,Not Upheld,1/17/2023,Minor,BUPA On-Demand,Close

In [113]:
# How many are being reported closed and open
df.groupby("Open_or_Close").count()["Ref"]

Open_or_Close
Close    646
Open     295
Name: Ref, dtype: int64

In [105]:
# How many are being reported on a monthly basis and how many are being closed (Overall)
df.groupby([df.Reported.dt.month, df.Open_or_Close]).count().unstack()["Ref"]

Open_or_Close  Close  Open
Reported
1                284    51
2                199    74
3                163   170

In [112]:
# How many are being reported on a monthly basis and how many are being closed (Regional)
df.groupby([df["Region / Directorate"], df.Open_or_Close, df.Reported.dt.month]).count().unstack()["Ref"].head(22)

Reported                               1     2     3
Region / Directorate Open_or_Close
Area 1               Close          13.0   9.0   8.0
                     Open            2.0  10.0  12.0
Area 10              Close           4.0   1.0   5.0
                     Open            3.0   1.0   5.0
Area 11              Close          13.0  11.0  12.0
                     Open            2.0   3.0  13.0
Area 12              Close          11.0  13.0   2.0
                     Open            1.0   9.0   9.0
Area 13              Close           9.0   9.0   7.0
                     Open            6.0   4.0   8.0
Area 14              Close           3.0   3.0   2.0
                     Open            NaN   1.0   2.0
Area 15              Close          10.0   9.0   8.0
                     Open            2.0   NaN   6.0
Area 16              Close           4.0   1.0   5.0
                     Open            3.0   3.0   8.0
Area 17              Close           NaN   4.0   4.0
                     Open            NaN   3.0   5.0
Area 18              Close           NaN   5.0   NaN
                     Open            2.0   5.0   5.0
Area 19              Close          11.0   6.0   3.0
                     Open            2.0   3.0   3.0

In [97]:
# How many Stage 1s and 2are being reported and closed (overall)
df.groupby(["Current Stage", "Open_or_Close"]).count().unstack()["Ref"]

Open_or_Close  Close  Open
Current Stage
Stage 1          611   263
Stage 2           31    31
Stage 3            4     1

In [98]:
df["Region / Directorate"].unique()

array(['Area 5', 'Area 8', 'Area 12', 'Area 24', 'Area 16', 'Area 22',
       'Area 21', 'Area 23', 'Area 15', 'Area 9', 'Area 18', 'Area 6',
       'Area 4', 'Area 7', 'Area 20', 'Area 10', 'Area 13', 'Area 2',
       'Area 11', 'Area 19', 'Area 1', 'Area 17', 'Area 3', 'Area 14',
       'Office'], dtype=object)

In [115]:
#How many Stage 1s and 2s are being reported and closed (Regional)
df.groupby(["Current Stage", "Open_or_Close", "Region / Directorate"]).count().unstack()["Ref"]

Region / Directorate         Area 1  Area 10  Area 11  Area 12  Area 13  \
Current Stage Open_or_Close
Stage 1       Close            28.0     10.0     34.0     24.0     23.0
              Open             23.0      7.0     17.0     18.0     16.0
Stage 2       Close             2.0      NaN      2.0      2.0      2.0
              Open              1.0      2.0      1.0      1.0      2.0
Stage 3       Close             NaN      NaN      NaN      NaN      NaN
              Open              NaN      NaN      NaN      NaN      NaN

Region / Directorate         Area 14  Area 15  Area 16  Area 17  Area 18  ...  \
Current Stage Open_or_Close                                               ...
Stage 1       Close              7.0     27.0     10.0      8.0      5.0  ...
              Open               2.0      8.0     11.0      8.0     11.0  ...
Stage 2       Close              1.0      NaN      NaN      NaN      NaN  ...
              Open               1.0      NaN      3.0      NaN      1.0  ...
Stage 3       Close              NaN      NaN      NaN      NaN      NaN  ...
              Open               NaN      NaN      NaN      NaN      NaN  ...

Region / Directorate         Area 23  Area 24  Area 3  Area 4  Area 5  Area 6  \
Current Stage Open_or_Close
Stage 1       Close             27.0     21.0    35.0    36.0    24.0    36.0
              Open               6.0     11.0     8.0    10.0     8.0    14.0
Stage 2       Close              NaN      3.0     NaN     2.0     3.0     NaN
              Open               NaN      2.0     NaN     6.0     NaN     1.0
Stage 3       Close              NaN      NaN     1.0     1.0     NaN     1.0
              Open               NaN      NaN     NaN     NaN     NaN     NaN

Region / Directorate         Area 7  Area 8  Area 9  Office
Current Stage Open_or_Close
Stage 1       Close            23.0    64.0    32.0     NaN
              Open             15.0    13.0    19.0     NaN
Stage 2       Close             1.0     3.0     3.0     1.0
              Open              NaN     3.0     1.0     NaN
Stage 3       Close             1.0     NaN     NaN     NaN
              Open              NaN     NaN     NaN     NaN

[6 rows x 25 columns]